header {
    background-color: black;
    border: 20px black solid;
    color: white;
    margin-top: 0px;
}

/* h1 {
    border: chartreuse solid;
    float: left;
    margin-left: 43%;
    text-align: center;
    width: 14%;
} */

/* body {
    background-color: rgb(129, 128, 128);
} */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.containe {
    cursor: pointer;
    display: inline-block;
    position: relative;
    left: 20%;
    margin-top: 15px;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
}

.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
}

.topnav #myLinks {
    display: none;
}

.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}